body {
    /* Location of the image */
    background-image:url("images/background2.jpg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    /*Set all the text to be displayed in the middle
         */

    Font-family:'Raleway',sans-serif;


}
h1 {
    Font-family: 'Cinzel',serif;
    font-weight: bold;
    font-size: 90px;
    color: floralwhite;
    padding-top: 30px;
    text-shadow: 3px 3px 3px #464646;
    margin-bottom: 10px;
    text-align: center;
    position: center;

}
h3 {
    font-size: 30px;
    color: floralwhite;
    text-decoration: underline;
    text-align: center;
    position: center;
    margin-bottom: 55px;
}
.quote {
    Font-size:20px;
    text-align: center;
    text-decoration: beige;
    text-decoration-style: dotted;
    margin-top: fill;
}
p {
    font-size: 15px;
    color: floralwhite;
    text-align: center;
    position: center;
    margin-bottom:10px;
}

ul {
    list-style: none;
}


/*Custom boxes*/

.button_email {
    text-align: center;
    position: center;
    text-decoration: none;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;

}

.button_email:hover {
    background-color: rgba(2,0,0,0.6);
    color: lightcoral;
}

.button_whatsapp {
    text-align: center;
    position: center;
    text-decoration: none;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.button_whatsapp:hover {
    color: forestgreen;
    background-color: rgba(2,0,0,0.6);
}

.rede_linkedin {
    Text-decoration: none;
    color: white;
    font-size: 50px;
    object-position: left;
}

.rede_github {
    Text-decoration: none;
    color: white;
    font-size: 50px;
}
