body {
    /* Location of the image */
    background-image:url("images/background2.jpg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    /*Set all the text to be displayed in the middle
         */
    text-align: center;
    position: center;
    Font-family:'Raleway',sans-serif;


}
h1 {
    font-weight: bold;
    font-size: 90px;
    color: floralwhite;
    padding-top: 50px;
    text-shadow: 3px 3px 3px #464646;
    margin-bottom: 10px;

}
h3 {
    font-size: 30px;
    color: floralwhite;
    margin-bottom: 15px;
    text-decoration: underline;
}

p {
    font-size: 30px;
    color: floralwhite;
    margin-bottom: 15px;

}
.contacts {
    padding-top: 100px;
    font-size: 25px;
}

.button {
    text-decoration: none;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(2,0,0,0.6);
}
.buttonwhat {
    text-decoration: none;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;

}
.buttonwhat:hover {
    color: forestgreen;
    background-color: rgba(2,0,0,0.6);
}


.rede_l {

    Text-decoration: none;
    color: white;
    font-size: 50px;

;
}
.rede_l:hover {
    background-color: rgba(2,0,0,0.6);
}
.rede_g {

    Text-decoration: none;;
    color: white;
    font-size: 50px;

}
.rede_g:hover {
    background-color: rgba(2,0,0,0.6);
}